<header>
  <a class="menu-button" href="javascript:$('.nav').slideToggle('fast');">☰</a>
  <h4>
    {{#link-to 'index'}}MY FITNESS{{/link-to}}
  </h4>
  <ul class='nav'>
    <li>WORKOUTS</li>
    <li>WORKOUT VIDEOS</li>
    <li>HEALTHY EATING</li>
  </ul>
</header>

{{outlet}}