<header>
  <a class="menu-button" href="javascript:$('.nav').slideToggle('fast');">☰</a>
  <h4>
    {{#link-to 'index' (query-params type='')}}MY FITNESS{{/link-to}}
  </h4>
  <ul class='nav'>
    <li>
      {{#link-to 'index' (query-params type='workout')}}
        WORKOUTS
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'index' (query-params type='video')}}
        WORKOUT VIDEOS
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'index' (query-params type='eating')}}
        HEALTHY EATING
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'consumption' (query-params type='consumption')}}
        DIETARY PROFILE
      {{/link-to}}
    </li>
  </ul>
</header>

{{outlet}}
