<ul class='is-profile'>
  <li>
    <p>
      <span>Date</span>
      <span>Calorie Intake</span>
      <span>Calorie Burnt</span>
    </p>
  </li>
  {{#each profile in controller}}
    {{!-- {{#link-to 'book' book.id}} --}}
    <li>
      <p>
        <span>{{profile.date}}</span>
        <span>{{profile.intake}}</span>
        <span>{{profile.burnt}}</span>
      </p>
      </li>
    {{!-- {{/link-to}} --}}
  {{/each}}

  </ul>